/*顶部栏*/

.header {
    position: fixed;
    /* 绝对定位，fixed是相对于浏览器窗口定位。 */
    z-index: 99;
    /* 层叠顺序，数值越大就越高。页面滚动的时候就不会被其他内容所遮挡。 */
    width: 100%;
    background-color: cornflowerblue;
    font-size: 30px;
    color: aliceblue;
    height: 45px;
}

/*todo标题*/

.text-title {
    margin-left: 28px;
    font-size: 18px;
}

/*顶部菜单图标*/

.header-img {
    width: 12%;
    float: right;
    font-size: 20px;
    padding-top: 10px;
}

/*面板*/

.mypanel {
    padding-right: 0px;
    padding-left: 0px;
}

.mypanel-body{
    border-left-width: 8px;
    border-left-color: orange;
    box-shadow: 1px 3px 1px #888888;
}

/*状态按键*/

.btn-state {
    float: right;
    border-radius: 25px;
}

html,body{
    min-height: 100%;
}

/*数据标签*/

.text-key {
    font-size: 12px;
    color: gray;
}

/*数据值*/

.text-number-value {
    word-break: break-word;
    font-size: 19px;
    font-weight: 700;
}

/*字符串数据值*/

.text-value {
    font-size: 13px;
    font-weight: 700;
    padding-right: 1px;
}

/*底部悬浮菜单*/

.menu {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #474747;
    padding-top: 10px;
    border-top: 1px solid #eee;
    background-color: #fff;
    justify-content: center;
    /*主轴上的对齐方式*/
}

.subMenu {
    width: 30%;
    float: left;
}

.menu-name {
    width: 100%;
    line-height: 15px;
}

.menu-img {
    font-size: 20px;
}

.text-center {
    text-align: center
}
