/*顶部栏*/

.info-header {
    position: fixed;
    /* 绝对定位，fixed是相对于浏览器窗口定位。 */
    z-index: 99;
    /* 层叠顺序，数值越大就越高。页面滚动的时候就不会被其他内容所遮挡。 */
    width: 100%;
    background-color: cornflowerblue;
    font-size: 30px;
    color: aliceblue;
    height: 45px;
}

/*标题*/

.info-title {
    margin-right: 40px;
    font-size: 16px;
}

/*返回图标*/

.backarrow-img {
    width: 13%;
    float: left;
    font-size: 25px;
    padding-top: 10px;
}


.info-container{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding: 0px;
}


/*面板*/

.info-panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: flex;
    justify-content:center;
    margin-bottom:10px;
    padding-top:10px;
}

.line{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: whitesmoke;
}

.top-line{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: whitesmoke;
}

.info-panel-title{
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color:cornflowerblue;
    height: 20px;
}

.info-title-label{
    width: 100%;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    padding-left: 10px;
    word-break: break-word;
}

.info-panel-body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /*padding: 5px;*/
}

.info-text-label{
    width: 100%;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    /*padding-left: 25px;*/
    word-break: break-word;
}

.more-arrows-img{
    width: 3%;
    float: right;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 10px;
    color: aliceblue;
}

.download-img{
    width: px;
    height: 20px;
    float:right;
}

.doc-img{
    width: 45px;
    height: 50px;
}

.more-text{
    padding-top: 3px;
    color: cornflowerblue;
    font-size: 14px;
    font-weight: 100;
    width: 40px;
}

.info-value-label{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 10px;
    margin-right: 5px;
}

.info-file-label{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 10px;
    /*padding-left: 25px;*/
    margin-right: 10px;
    /*padding-right: 5px;*/
    padding-bottom: 5px;
}

.info-text-value {
    font-size: 13px;
    font-weight: 700;
/*    width: 10px;*/
}

.info-bottem-label{
    display: flex;
    width: 100%;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 25px;
    word-break: break-word;
    justify-content:flex-end;
}



@media only screen and (max-width:768px) {

    

}

@media only screen and (min-width:1024px){
    
    
    
}
