#main-view .toolbar-height{
    height: 60px;
}

#todoPage .calendar-img-size{
    font-size: 15px;
}

#todoPage .blank-bottom{
    margin-bottom: 20px;
}

/*#todoPage .pull{*/
    /*display: -webkit-inline-flex;*/
/*}*/

#todoPage .card{
  margin-bottom: 5px;
}

#todoPage .card-content-padding{
  padding: 10px;
}

#tab-todo .block {
  margin-top: 0px;
  padding: 0px;
}

#todoTitle{
    color: white;
}

#main-view .navbar{
  background: linear-gradient(to bottom, #067bff, #59aaf7);
}

.left-color-belt{
    border-left-width: 8px;
    border-left-color: orange;
    border-left-style: solid;
}

.text-label{
    /*margin: 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;
}

/*数据标签*/

.text-key {
    font-size: 12px;
    color: gray;
}

/*字符串数据值*/

.text-value {
    font-size: 13px;
    font-weight: 700;
    padding-right: 1px;
}

/*数据值*/

.text-number-value {
    word-break: break-word;
    font-size: 19px;
    font-weight: 700;
}

.value-color-blue{
    color: cornflowerblue;
}

.img-arrow-right{
    background-size: 8px 13px;
    background-repeat: no-repeat;
    background-position: 98% center;
    background-image: url(../img/right-arror.svg);
}

.btn-state {
    float: right;
    border-radius: 25px;
    width: 150px;
    /*btn-xs*/
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
    font-size: 12px;
    line-height: 1.7;
    /*btn-primary*/
    color: #fff;
    background-color: #337ab7;
    /*btn*/
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    border: 3px solid
}

/*----------------------------------------*/

label{
    display: inline-block;
}
